
div {
    width: 100px;
    height: 100px;
    border: solid #333;
    text-align: center;
    display: inline-block;   
}

#container-a {
    background-color: red;
}

#container-b {
    background-color: aqua;
}